.newsContainer {
    gap: .5rem;
    display: flex;
    padding: .5rem;
    flex-direction: column;
    border-radius: var(--borderRadius);
    background-color: rgba(30, 41, 59, .5);
}

.newsContainer .head {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.newsContainer .head .title {
    color: var(--indigo-100);
    font-weight: bold;
}

.newsContainer .head .date {
    opacity: .5;
    font-size: .75rem;
    font-weight: .75rem;
    color: var(--indigo-200);
}

.newsContainer .newsContent {
    color: var(--indigo-200);
    opacity: .95;
    font-size: .85rem;
    text-align: left;
    white-space: pre-line;
    word-break: break-word;
}