.wrapper {
    --navHeight: 3.5rem;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: var(--sideContainerWidth);
}

.main {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    flex-direction: column;
    border-radius: var(--borderRadius);
    background: var(--theme-secondary);
}

.main::-webkit-scrollbar {
    width: .25rem;
    background-color: transparent;
    scrollbar-gutter: stable;
}

.main::-webkit-scrollbar-thumb {
    background-color: rgba(30, 41, 59, .5);
}

.header {
    display: flex;
    align-items: center;
    padding: var(--padding);
    height: var(--headerHeight);
    justify-content: space-between;
}

.header .label {
    gap: .5rem;
    display: flex;
    font-size: 1rem;
    align-items: center;
}

.header .label svg {
    color: var(--indigo-500);
    width: calc(var(--headerHeight) * .75);
    height: calc(var(--headerHeight) * .75);
}

.body {
    gap: .5rem;
    height: 100%;
    display: flex;
    padding: var(--padding);
    flex-direction: column;
}

.wrapper {
    display: flex;
    padding: 1rem .5rem 1rem 0;
}

@media (width < 900px) {
    .wrapper {
        display: none;
        visibility: hidden;
    }
}